.title {
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    font-size: 5vh;
    color: #983732;
    background-color: #414d67;
    border-radius: 20px;
    padding: 1vh;
    margin-top: 1vh;
    z-index: 9999;
    box-shadow: 3px 3px 3px rgba(112, 111, 111, 0.452);

  }
